.flexRow {
  @media screen and (max-width: 768px) {
    flex-direction: column !important;
  }
}

.usagePage {
  h1 {
    padding-top: 1em;
  }
  h2, h3 {
    padding-top: 0.5em;
  }
  p {
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }
}
