.nav-bar-container {
  width: 100%;

  position: sticky;
  top: 0;

  background-color: white;
  margin: 0 -100%;

  border-bottom: 2px solid #62d9fb;

  .nav-bar {

    display: flex;
    flex-direction: row;

    height: 64px;

    margin: 0 auto;


    h2 {
      flex: 1;
      text-align: center;

      height: 2em;

      display: flex;
      flex-direction: column;
      justify-content: center;

      cursor: pointer;

      transition: opacity 0.3s;
      opacity: 0.6;

      &:hover {
        opacity: 0.9;
      }
      &.active-page {
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}
